
td {
	padding-left: 5px;
	padding-right: 5px;
}

.fileform table {
	margin: auto;
}

.fileform th {
	text-align: left;
	padding-right: 15px;
}

.faxstate7 {
	background-color: #d4ffc5;
}

.faxstate8 {
	background-color: #ffded8;
}

img {
	text-underline: none;
}

.ricevuti th {
	background-color: #CCCCCC;
}

.odd {
	background-color: #DDDDDD;
}